@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(11, 51, 59);
  --primary-color-light: rgb(129, 224, 243);
}

* {
  box-sizing: border-box;
  outline: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form button {
  margin-top: 26px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-color-darker);
}

form button:active {
  background-color: var(--primary-color-light);
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background-color: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
}
